main {
    width: 70%;
    margin: 0 auto;
    background-color: #eef;
    padding: 20px;
    border-radius: 5px;
}

.experience-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.experience-box img {
    width: 100px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
    margin-left: 10px;
    border-radius: 10px;
}

.exp-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
}